.Description label {
    display: flex;
    justify-content: space-between;
    border-left: 10px;
    padding: 5px 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.Description textarea {
    width: 300px;
    height: 160px;
    font-size: 14px;
    text-align: justify;
    max-height: 300px;
    overflow-y: scroll;
}

.Price label {
    display: flex;
    justify-content: space-between;
    border-left: 10px;
    padding: 5px 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.Price input {
    width: 300px;
    height: 24px;
}

.ControlButtons {
    display: flex;
    margin: 10px 10px;
    justify-content: space-between;
}

.ControlButtons Button {
    padding: 5px 10px;
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
    background-color: cornflowerblue;
}
