#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App-header {
  height: 40px;
}

.Main {
  display: flex;
  height: 400px;
  justify-content: center;
}

.MainContent {
  width: 300px;
}