#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.App-header {
  height: 40px;
}

.Main {
  display: flex;
  width: 500px;
  height: 600px;
  justify-content: center;
  background-color: bisque;
}

.MainContent {
  width: 400px;
}